/* TAG SELECTORS */
html{
    font-family: 'Tillana', cursive;
}

* {
    box-sizing: border-box;
  }
body{
    margin: 30px;
}
 p{
    padding: 30px 10px 15px 15px;

 }

 h1{
    font-size: 3rem;
    font-weight: bold;
 }

h2{
    border: 3px solid;
    width: 100px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
  }


/* CLASS SELECTORS */

.header{
    text-align: center;
    margin: 100PX 0;
}

.outer{
    padding: 1%;
}

.item{
    background-color: gray;
    border: 2px solid black;
    position: relative;
}

.chicken{
    background-color: pink;
    margin-top: 0;
}
.beef{
    background-color: orangered;
    margin-top: 0;
}
.sushi{
    background-color: bisque;
    margin-top: 0;
}


/* FOR DESKTOP */
@media (min-width:992px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
       float: left;
    }
    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;} 
 }
 
 /* FOR TABLET */
 @media (max-width:991px) and (min-width:768px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
       float: left;
       }   

    .col-md-1{width: 8.33%;}
    .col-md-2{width: 16.66%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.33%;}
    .col-md-5{width: 41.66%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.33%;}
    .col-md-8{width: 66.66%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.33%;}
    .col-md-11{width: 91.66%;}
    .col-md-12{width: 100%;}    
}

/* FOR MOBILE-PHONE */
@media (max-width: 767px){
    .col-s{
        float:left;
        width:100%;
    }
}

 
 




 